.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  text-align: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; /* Espaçamento entre o input e o botão */
  margin-bottom: 1rem;
}

.search-bar input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 300px; /* Ajuste do tamanho do input */
}

.search-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #2ecc71;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.search-btn:hover {
  background-color: #27ae60;
}

.add-vehicle-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.add-vehicle-btn:hover {
  background-color: #2980b9;
}

/* Some CSS code here */

@media (min-width: 249px) and (max-width: 480px) {
  .search-bar input {
    width: 180px;
  }
  
  .search-btn,
  .add-vehicle-btn {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .search-bar input {
    width: 250px;
  }
}


