.add-vehicle-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-vehicle-form button {
  background-color: #0dc71f;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.add-vehicle-form input {
    border: none;
    padding: 12px;
    width: 400px;
}
@media (min-width: 249px) and (max-width: 480px) {
  .add-vehicle-form input {
    width: 90%;
    max-width: 300px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .add-vehicle-form input {
    width: 100%;
    max-width: 350px;
  }
}