.footer {
  background-color: #114b84;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
}

@media (min-width: 249px) and (max-width: 480px) {
  .footer {
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .footer {
    padding: 0.9rem;
  }
}
